/* custom h2 in carousel slides.
used in: index.html - lines 71, 84, 94 */
.car-ex{
    margin: 0 0 10vw 0;
    padding: 3%;
    background: rgba(179, 171, 171, 0.7);
    border-radius: 30px;
    color: black;
    font-size: calc(16px + 2vw);
}

/* container for carousel. 
used in: index.html - line 50 */
#car-container{
    background: rgba(77, 72, 72, 0.4);
}